Binaries
DerivedDataCache
Intermediate/Build
Saved
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build
Content/BlackAlder
BuildShipping/
Intermediate/CachedAssetRegistry_0.bin
Intermediate/Config/
Intermediate/PipInstall/
Intermediate/PythonStub/
Intermediate/ReimportCache/
Intermediate/ShaderAutogen/
Intermediate/Staging/
Intermediate/TargetInfo.json
