Binaries
DerivedDataCache
Intermediate/Build
Saved
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build
Content/BlackAlder
Content/EuropeanBeech
BuildShipping/
Intermediate/CachedAssetRegistry_0.bin
Intermediate/Config/
Intermediate/PipInstall/
Intermediate/PythonStub/
Intermediate/ReimportCache/
Intermediate/ShaderAutogen/
Intermediate/Staging/
Intermediate/TargetInfo.json
Plugins/Runtime/Nvidia/
Releases/0.1/Windows/AssetRegistry.bin
Releases/0.1/Windows/Exploration-Windows.pak
Releases/0.1/Windows/Exploration-Windows.ucas
Releases/0.1/Windows/Exploration-Windows.utoc
Releases/0.1/Windows/Metadata/DevelopmentAssetRegistry.bin
PythonScripts/api.cache.bak
PythonScripts/api.cache.dat
PythonScripts/api.cache.dir
